<h3>Hello <%= @to_email %>!</h3>

<p>This is your unique code for the election of xxx. Your friendly development team makes sure you can vote with this code but your vote can never be traced back to you. If you want to have this explained, want to look at the source code or have any questions please ask xxx.</p>

</br>

<p>Please go to the doodle page for the election:</p>

<p><a href="http://www.doodle.com/xxx">http://www.doodle.com/xxx</a></p>

<p><b>IMPORTANT:</p>
<p>!!!!!!!!!! Into the "name" field please copy and paste!!!! the code at the end of this email !!!</b></p>
<br/>

<p>Your vote will NOT be counted if you make one of these mistakes:</p>

<ul>
  <li>Everyone has <b>up to 10 votes</b>. Don't use more.</li>

  <li>Only entries with <b>valid codes</b> are counted. So if you misspell your code (it's case sensitive) or make a mistake pasting, your vote will also be ignored.</li>

  <li>If you vote more than <b>once</b> with one code, you are out too!</li>
</ul>

<p>There is no way to receive another code or try again or something.</p>

<br/>

<p>This election ends Friday, March 7th, 2pm CET.</p>

<br/>

<p>TL;DR: DO NOT PUT YOUR NAME IN THE NAME FIELD, PUT IN THIS CODE: !!!</p>

->
<h1><%= @code %></h1>
<-

<p>Do not share the code with anyone, as the voting results will be published later on.</p>

<br/>

<p>Thanks and happy voting!</p>

